.bottom {
  display: grid;
}

//todo CONTACTS ==================================================
.contacts {
  background: #fbfbfb;

  &__container {
    padding-top: rem(90);
    padding-bottom: rem(30);
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__body {
    display: grid;
    align-items: center;
    gap: rem(40);

    @media (min-width: $mobile) {
      grid-template: 1fr / repeat(2, 1fr);
    }
  }

  &__form {
    height: 100%;
  }

  &__list {
    @media (min-width: $mobile) {
      @include adaptiveValue('padding-left', 100, 20);
    }
  }
}

.form {
  display: grid;
  gap: rem(20);

  &__item {
    &:last-child {
      padding-top: rem(24);
    }
  }

  &__input {
    background: #fff;
    width: 100%;
    border-radius: 8px;
    padding: rem(16) rem(24);

    &::placeholder {
      font-size: rem(14);
      line-height: math.div(18, 14);
      color: $grayColor;
    }

    &:focus {
      &::placeholder {
        color: $mainColor;
      }
    }
  }

  &__button {
    width: 100%;
    background: $purpleColor;
    padding: rem(16);
    border: 1px solid #eae6fe;
    border-radius: 8px;
    color: #f5f3fe;

    font-size: 14px;
    font-weight: 500;
    line-height: math.div(18, 14);
    transition: all 0.2s linear;

    @media (any-hover: hover) {
      &:hover {
        background: #6c62e0;
      }
    }
  }

  &__error {
    padding: rem(10) rem(4);
    font-size: rem(14);
    font-weight: 500;
    line-height: math.div(18, 14);
    color: red;
  }
}

textarea.form__input {
  height: rem(190);
  resize: vertical;
}

.list-contacts {
  > *:not(:last-child) {
    @include adaptiveValue('margin-bottom', 48, 24);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(24);
  }

  &__icon {
    flex: 0 0 rem(56);
    height: rem(56);
    background: #f5f3fe;
    border-radius: rem(16);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: grid;
    gap: rem(4);
  }

  &__title {
    font-weight: 500;
    line-height: math.div(20, 16);
  }

  &__text {
    font-size: rem(14);
    line-height: math.div(24, 14);
    color: $grayColor;
  }
}

//todo FOOTER ==================================================
.footer {
  align-self: end;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(24);

    @include adaptiveValue('padding-top', 88, 20);
    @include adaptiveValue('padding-bottom', 88, 20);
  }

  &__socials {
    .socials__link {
      color: $grayColor;
    }
  }

  &__copy {
    font-size: rem(14);
    line-height: math.div(18, 14);
    color: $grayColor;
  }
}
