//todo INTRO
.intro {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 100%;
    padding-top: rem(90);
    padding-bottom: rem(30);
    column-gap: rem(30);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      row-gap: rem(40);
    }
  }

  &__title-block {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__socials {
  }
}

.decor-intro {
  max-width: 336px;
  margin: 0 rem(22);
  justify-self: center;
  width: 100%;

  @media (min-width: $mobile) {
    justify-self: end;
  }

  &__image {
    position: relative;
    padding-bottom: percent(400, 336);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: rem(16);
    }

    &::before {
      background: #7e74f1;
      transform: rotate(-10deg);
      z-index: 1;
    }

    &::after {
      z-index: 2;
      background: #eae6fe url('@img/intro/lines.svg') top right / 58% no-repeat;
    }
  }

  &__alex-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    min-width: 100%;
    z-index: 3;

    border-radius: rem(16);
    overflow: hidden;
  }
}

//todo SERVICES
.services {
  background: #fbfbfb;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: rem(90);
    padding-bottom: rem(30);
    min-height: 100%;
  }

  &__title-block {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 100, 50);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
    @include adaptiveValue('gap', 56, 26);
    width: 100%;
  }
}

.item-services {
  background: #fff;
  @include adaptiveValue('padding', 50, 15);
  border-radius: rem(8);
  overflow: hidden;

  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, auto) 1fr;
  text-align: center;

  &__icon {
    width: rem(56);
    height: rem(56);
    background: #f5f3fe;
    border-radius: rem(16);
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  &__title {
    font-weight: 500;
    line-height: math.div(20, 16);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: math.div(24, 16);
  }
}
